{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

		<div id="organization">
			<br/><br/><br/>
			<h1 style="text-align: center; color: #FA7F13; font-size: 60px">Companies/Organizations</h1>
			<hr><br/>
			<section>
				<div class="row">
					{%for org in data%}
				  <div class="col-md-4"><a id='text-center' class="btn btn-primary btn-lg btn-block outline" style="width: 200px; height: 100px; line-height: 75px;" href="/company/{{ org }}/">{{org}}</a><br/></div>
					{%endfor%}		  				  				  				  				  				  
				</div>
			</section>

		</div>


{% endblock %}