
<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="title" content="Home"/>
		<meta name="description" content="Las Vegas Discount Comedy Show Tickets Website"/>
		<meta name="keywords" content="Las Vegas discount cheap comedy show tickets"/>

		<title>Title</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" type="text/css">
		<link href="http://ucicssa.org/style.css" rel="stylesheet" />

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="http://ucicssa.org/jquery.js"></script>


		
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />

		


	</head>

	<body>

		<nav class="fixed-nav-bar">
			<ul>
				<li><a data-toggle="modal" href="#myModal" style="color">Login</a></li>
				<li><a href="#signup">Sign Up</a></li>
				<li><a href="#organization">Organization</a></li>
				<li><a href="#information">Information</a></li>
			</ul>
		</nav>


		<header>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Title<br/><hr>
		</header>





		<div id="information">
			<br/><br/><br/>
			<h1 style="text-align: center; color: #FA7F13; font-size: 60px">information</h1>
			<hr><br/>

		</div>




		<div id="organization">
			<br/><br/><br/>
			<h1 style="text-align: center; color: #FA7F13; font-size: 60px">Organization</h1>
			<hr><br/>

		</div>



		<div id="signup">
			<br/><br/><br/>
			<section>
				<button type="button" class="btn btn-warning btn-lg btn-block" id="inner_div">Sign Up</button>
			</section>
		</div>






		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" style="top:20%; width:300px">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Log In</h4>
		      </div>
		      <div class="modal-body">
		        <form class="form">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputPassword3">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
				  </div>
				   <div class="text-center">
					  <div class="checkbox">
					    <label>
					      <input type="checkbox"> Remember me
					    </label>
					  </div>
					  <button href="#" type="submit" class="btn btn-default" data-dismiss="modal" style="background: #FA7F13; color: white">Sign in</button>
					  <!-- <a href="#" class="btn btn-default" role="button" style="background: #FA7F13; color: white">Sign in</a> -->
					</div>
				</form>
		      </div>
		    </div>
		  </div>
		</div>




		


		<footer></footer> 

	</body>
</html>